{:paths ["src" "resources"]
 :deps
 {
  org.clojure/clojure {:mvn/version "1.9.0"}

  ;; clojure.spec
  org.clojure/spec.alpha {:mvn/version "0.1.143"}

  ;; Formatting
  camel-snake-kebab {:mvn/version "0.4.0"}

  ;; Amazonica
  amazonica {:mvn/version "0.3.121"}

  ;; JSON
  cheshire {:mvn/version "5.8.0"}

  ;; Logging
  org.clojure/tools.logging {:mvn/version "0.4.0"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.25"}
  org.slf4j/jul-to-slf4j {:mvn/version "1.7.25"}
  org.slf4j/log4j-over-slf4j {:mvn/version "1.7.25"}
  ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                  :exclusions [org.slf4j/slf4j-api]}}

 :aliases
 {
  :dev
  {:extra-paths ["dev"]
   :extra-deps
   {io.aviso/pretty {:mvn/version "0.1.34"}
    spyscope {:mvn/version "0.1.6"}
    fipp {:mvn/version "0.6.12"}}}

  :main {:main-opts ["-m" "rock.main"]}

  :dev/nrepl {:jvm-opts ["-Dload_nrepl=true"]
              :extra-paths ["aliases/nrepl"]
              :extra-deps
              {cider/cider-nrepl {:mvn/version "0.16.0"}
               refactor-nrepl {:mvn/version "2.3.1"}
               org.clojure/tools.nrepl {:mvn/version "0.2.12"}}}

  :dev/rebel {:extra-paths ["aliases/rebel"]
              :extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.1"}}
              :main-opts ["-m" "rock.rebel.main"]}
  }}
