{"variables"
 {"commit_ref" "none"
  "juxt_pkg_dir" "/var/lib/juxt-pkgbuilds"
  "juxt_repo_dir" "/var/cache/pacman/juxt"}

 "builders"
 [{"type" "amazon-ebs"
   "region" "eu-west-2"
   "source_ami" "ami-0bb11eee7052e5560"
   "instance_type" "c4.large"
   "ssh_username" "arch"
   "ami_name" "juxt-rock-{{user `commit_ref`}}-{{timestamp}}"}]

 "provisioners"
 [{"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "script" "scripts/remove-llmnr.sh"}

  {"type" "file"
   "source" "etc/timesyncd.conf"
   "destination" "/tmp/timesyncd.conf"}
  {"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "inline" ["cp /tmp/timesyncd.conf /etc/timesyncd.conf"]}

  {"type" "file"
   "source" "etc/sudoers"
   "destination" "/tmp/sudoers"}
  {"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "inline" ["cp /tmp/sudoers /etc/sudoers"
             "chown root:root /etc/sudoers"
             "chmod 440 /etc/sudoers"]}

  {"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "script" "scripts/install-base.sh"}

  #_{"type" "file"
     "source" "etc/makepkg.conf"
     "destination" "/tmp/makepkg.conf"}
  #_{"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "inline" ["cp /tmp/makepkg.conf /etc/makepkg.conf"
             "chown root:root /etc/makepkg.conf"
             "chmod 644 /etc/makepkg.conf"]}
  #_{"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "script" "scripts/prepare-private-repo.sh"
   "environment_vars"
   ["PKG_DIR={{user `juxt_pkg_dir`}}"
    "REPO_DIR={{user `juxt_repo_dir`}}"]}
  #_{"type" "shell"
   "inline" ["mkdir -p /tmp{{user `juxt_pkg_dir`}}"]}
  #_{"type" "file"
   "source" "share/"
   "destination" "/tmp{{user `juxt_pkg_dir`}}"}
  #_{"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "inline" ["cp -r /tmp{{user `juxt_pkg_dir`}}/* {{user `juxt_pkg_dir`}}"]}
  #_{"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "inline" ["mkdir -p {{user `juxt_repo_dir`}}"]}
  #_{"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "script" "scripts/install-custom.sh"
   "environment_vars"
   ["PKG_DIR={{user `juxt_pkg_dir`}}"
    "REPO_DIR={{user `juxt_repo_dir`}}"]}

  {"type" "shell"
   "execute_command" "sudo bash -c '{{ .Vars }} {{ .Path }}'"
   "script" "scripts/install-clojure.sh"}

  {"type" "shell"
   "script" "scripts/install-yay.sh"}

  {"type" "shell"
   "script" "scripts/install-bb.sh"}

  {"type" "shell"
   "script" "scripts/install-novnc.sh"}]

 "post-processors"
 [#_"vagrant"]}
